{% extends "website/courses/courses_base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block course_content %}
<div class="ui header large">Bachelor of Science (Plain)</div>

    <p>    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>
    <br>

    <ul>
        <li>Seats available: 60</li>
    </ul>

    <br>

    <div class="ui header">Departments</div>
    <p>The course is offered by the following departments</p>
    <div class="ui bulleted list">
        <a class="item">Department of Chemistry</a>
        <a class="item">Department of Physics</a>
        <a class="item">Department of Mathematics</a>
    </div>

{% endblock %}