{% extends "website/management/mgmt_base.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block mgmt_content %}
    {% load static %}

    <div class="left-quote">
        <div>
            <img src="{% static 'website/images/management/minyrajmodi.jpg' %}" class="ui right floated image circular">
        </div>
        <blockquote>
            <i class="left quote icon"></i>
            "Gyan Ganga College of Technology Jabalpur is the leading contributor to the field of technology in the
            state of Madhya Pradesh. The institute is known as much for academic magnificence as for cultural and
            social awareness. I extend my sincere wishes for the perpetuity of the proud heritage academic excellence
            and social awareness. I also hope that the college website ggct.co.in with enrich its visitors with
            complete picture of all the varied aspects that contribute to the name and fame of the Institute."
            <i class="right quote icon"></i>
        </blockquote>
    </div>
    <div class="mem-info-left">
        <div class="ui header">Mr. Miny Raj Modi</div>
        <p>Member of Management</p>
        <p>Gyan Ganga Group</p>
    </div>

    <div class="divide"></div>

    <div class="right-quote">
        <img src="{% static 'website/images/management/nitin.jpg' %}" class="ui left floated image circular">
        <blockquote>
            <i class="left quote icon"></i>
            "Gyan Ganga College of Technology Jabalpur is the institute known for shaping and grooming the young
            calibers into perfect denizen of the world of technology and science. I wish my sincere thanks to all the
            members of the proud family with fervent hope that Institute will continue to enlighten the world of
            technology with the induction of young technical profession with equal inclination towards academics and
            ethical commitment. "
            <i class="right quote icon"></i>
        </blockquote>
    </div>
    <div class="mem-info-right">
        <div class="ui header">Mr. Nitin Jain</div>
        <p>Member of Management</p>
    </div>

    <div class="divide"></div>

    <div class="left-quote">
        <div>
            <img src="{% static 'website/images/management/VinyRajModi.jpg' %}" class="ui right floated image circular">
        </div>
        <blockquote>
            <i class="left quote icon"></i>
            "I am pleased to know that the history of Gyan Ganga College of Technology is punctuated by a number of
            proud landmarks and has become a familiar name in the corporate and multinational set ups. I extend my
            sincere wishes to the Institute that it would continue to emerge with new landmarks contribute to the pride
            of the City of Jabalpur and the State of Madhya Pradesh. "
            <i class="right quote icon"></i>
        </blockquote>
    </div>
    <div class="mem-info-left">
        <div class="ui header">Mr. Viny Raj Modi</div>
        <p>Member of Management</p>
        <p>Gyan Ganga Group</p>
    </div>
{% endblock %}