{% extends "website/management/mgmt_base.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block mgmt_content %}
    {% load static %}

    <div class="left-quote">
        <div>
            <img src="{% static 'website/images/management/rajneetjain.jpg' %}" class="ui right floated image circular">
        </div>
        <blockquote>
            <i class="left quote icon"></i>
            A man is known not by his riches but by his commitment to the society. We are body and soul committed to
            disseminate technical education in the society. Gyan Ganga Group is indeed progressing to achieve its
            mission. I convey my profound wishes.
            <i class="right quote icon"></i>
        </blockquote>
    </div>
    <div class="mem-info-left">
        <div class="ui header">Mr. Rajneet Jain</div>
        <p>Secretary</p>
        <p>Gyan Ganga Group</p>
    </div>
{% endblock %}